APP_NAME=bloodbi-analytics-backend
SERVER_PORT=8082

DB_URL=jdbc:mysql://localhost:3306/bloodbi_v2?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=

DW_DB_URL=jdbc:mysql://localhost:3306/bloodbi_dw_v2?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DW_DB_USERNAME=root
DW_DB_PASSWORD=

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
JPA_FORMAT_SQL=true
SQL_INIT_MODE=never

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001